---
title: "Perrin's Outdoors Doodles"
layout: 'layouts/doodles.html'
category: 'Outdoors'
prev: '/doodles/flowers/'
next: '/doodles/people/'
escape: '/doodles/'
enter: '/doodles/outdoors/DesertMountainTree/'
---

{% import "snippets/doodle_figure.html" as macros %}

<div id="swipeable">
  <div class="sm:grid grid-cols-3 gap-8">
    {% set image_names = [
      'DesertMountainTree',
      'BigCrescentMoonNightScene',
      'PeaField',
      'TreeFrame',
      'BarnFieldsMountains',
      'TreeAndTunnel'
    ] %}
    {% for name in image_names %}
      {{ macros.doodleFigure(name, category) }}
    {% endfor %}
  </div>

  <div class="sm:flex flex-row gap-8 mt-8">

    <div class="sm:grid grid-cols-2 gap-8">
      {% set image_names = [
        'SkyViewThroughTreesAbove',
        'TreeWithActiveLeaves',
        'OceanHorizonCloudsBirds',
        'PalmAtBeach',
        'BeachSceneBoatOnHorizon',
        'CoconutTreeOnBeach',
        'ChildDrawingTreeAndFlowers',
        'MinimalistBeachSceneHorizonClouds',
        'MinimalistBeachScene',
        'BackYardSketch'
      ] %}
      {% for name in image_names %}
        {{ macros.doodleFigure(name, category) }}
      {% endfor %}
    </div>

    <div class="sm:grid grid-cols-1 gap-8">
      {% set image_names = [
        'VeryTallPalmTreeAtBeach',
        'CreatureInHotAirBalloon',
        'DolphinJumpingInSun'
      ] %}
      {% for name in image_names %}
        {{ macros.doodleFigure(name, category) }}
      {% endfor %}
    </div>

  </div>
</div>
