---
title: Perrin's Paintings
layout: layouts/portfolio.html
sitemap:
  priority: 1.0
---

<div class="flex w-full">
  <div class="flex flex-col gap-8 mx-auto sm:px-4 md:px-6
              sm:grid sm:grid-cols-2 md:grid-cols-3">
    {% for item in projects.structured %}

      {% set imagePath = '/images/portfolio/' + item.name | rmSpaces + '/' + item.images[0] %}
      {% set isLandscape = ('src' + imagePath) | isLandscape %}

      <figure class="mx-auto {% if not isLandscape %} w-2/3 {% endif %}">
        <a href="/portfolio/{{item.name | slug}}/">
          {% set imageAlt = 'Portfolio item ' + (item.name | sepWords) + ' image ' + (item.images[0] | rmFileExt | sepWords) %}
          {% set imageClass = 'swipeable hover:brightness-90' %}
          {% image imagePath, imageAlt, imageClass, { maxWidth: 770 } %}
        </a>
        <figcaption class="text-center mt-2">{{item.name}}</figcaption>
      </figure>

    {% endfor %}
  </div>
</div>

{% import "snippets/scroll_to_top.html" as macros %}
{{ macros.scrollToTop("md:hidden hover:bg-stone-100") }}


<div x-data @keydown.window.prevent.enter="window.location.href = '{{'/portfolio/emma/' | url}}'"></div>
<div x-data @keydown.window.prevent.down="window.location.href = '{{'/portfolio/emma/' | url}}'"></div>
