---
layout: layouts/portfolio.html
prev: '/'
next: '/doodles/'
enter: '/portfolio/emma/'
---

<div id="swipeable" class="flex w-full">
  <div class="flex flex-col gap-8 md:grid md:grid-cols-3">
    {% for project in projects.structured %}

      {% set totalHack = '' %}
      {% if project.name === 'The Onion' %}
        {% set totalHack = 'w-2/3' %}
      {% endif %}
      {#
         BTW, this is actually a hack upon a hack because the following preferred hack,
         using the ternary operator, causes a TemplateContentRenderError!? 🙁
         {% set totalHack = ((project.name === 'The Onion') ? 'w-2/3' : '') %}
      #}

      <figure class="mx-auto {{totalHack}}">
        <a href="/portfolio/{{project.name | slug}}/">
          <img class="hover:brightness-90"
               src="/images/portfolio/{{project.name.replace(' ', '')}}/{{project.images[0]}}"/>
        </a>
        <figcaption class="text-center mt-2">{{project.name}}</figcaption>
      </figure>
    {% endfor -%}
  </div>
</div>
