---
layout: layouts/portfolio.html
prev: '/'
next: '/doodles/'
enter: '/portfolio/emma/'
---

<div class="flex w-full">
  <div class="flex flex-col gap-8 md:grid md:grid-cols-3">
    {% for project in projects.structured %}

      {% set imagePath = '/images/portfolio/' + project.name.replace(' ', '') + '/' + project.images[0] %}
      {% set isLandscape = ('src' + imagePath) | isLandscape %}

      <figure class="mx-auto {% if not isLandscape %} w-2/3 {% endif %}">
        <a href="/portfolio/{{project.name | slug}}/">
          <img class="hover:brightness-90"
               src="{{ imagePath }}"/>
        </a>
        <figcaption class="text-center mt-2">{{project.name}}</figcaption>
      </figure>
    {% endfor -%}
  </div>
</div>
