<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="Discover Perrin's art: acrylic paintings and iPhone doodles.">
    <meta name="keywords" content="Perrin, Artwork, Paintings, Doodles, Drawings, San Francisco, Concord">

    <title>{{ title }}</title>

    {% include '../snippets/favicons.html' %}

    <link rel="canonical" href="https://perrins-art.com{{ page.url }}" />
    <link rel="stylesheet" href="/global.css"/>

    <script defer src="/js/cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="/js/cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  </head>
  <body class="{{item.color.body.defaults}}">

    <div class="main_content flex flex-col min-h-screen">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </div>

  </body>
</html>

{% include 'js/swipe.js' %}