---
layout: 'layouts/base.html'
---

<div class="max-w-4xl mx-auto text-center px-8 mt-8">

  <!-- mobile-first, responsive navigation -->
  <nav>
    <div class="lg:hidden">
      <!-- 🍔 menu button -->
      <div class="flex justify-end">
        <button class="mobile-doodles-menu-button ml-2 flex gap-2">
          {{ category }}
          <svg class="w-6 text-stone-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

      <!-- mobile menu -->
      <div class="mobile-doodles-menu hidden text-center">
        <a href="/doodles/abstract" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 border-y border-gray-200 {% if '/doodles/abstract/' in page.url %}bg-stone-300{% endif %}">Abstract</a>
        <a href="/doodles/animals" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 border-b border-gray-200 {% if '/doodles/animals/' in page.url %}bg-stone-300{% endif %}">Animals</a>
        <a href="/doodles/faces" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 border-b border-gray-200 {% if '/doodles/faces/' in page.url %}bg-stone-300{% endif %}">Faces</a>
        <a href="/doodles/flowers" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 border-b border-gray-200 {% if '/doodles/flowers/' in page.url %}bg-stone-300{% endif %}">Flowers</a>
        <a href="/doodles/outdoors" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 border-b border-gray-200 {% if '/doodles/outdoors/' in page.url %}bg-stone-300{% endif %}">Outdoors</a>
        <a href="/doodles/people" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 border-b border-gray-200 {% if '/doodles/people/' in page.url %}bg-stone-300{% endif %}">People</a>
        <a href="/doodles/stills" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 border-b border-gray-200 {% if '/doodles/stills/' in page.url %}bg-stone-300{% endif %}">Stills</a>
        <a href="/doodles/textures" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 border-b border-gray-200 {% if '/doodles/textures/' in page.url %}bg-stone-300{% endif %}">Textures</a>
        <a href="/doodles/wacky" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 border-b border-gray-200 {% if '/doodles/wacky/' in page.url %}bg-stone-300{% endif %}">Wacky</a>
      </div>
    </div>

    <div class="hidden lg:block">
      <!-- primary menu -->
      <div class="min-w-fit mx-auto">
        <div class="flex justify-center">
          <div class="flex text-sm font-extralight"><!--
        --><a href="/doodles/abstract" class="py-3 px-4 {% if '/doodles/abstract/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Abstract</a><!--
        --><a href="/doodles/animals" class="py-3 px-4 {% if '/doodles/animals/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Animals</a><!--
        --><a href="/doodles/faces" class="py-3 px-4 {% if '/doodles/faces/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Faces</a><!--
        --><a href="/doodles/flowers" class="py-3 px-4 {% if '/doodles/flowers/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Flowers</a><!--
        --><a href="/doodles/outdoors" class="py-3 px-4 {% if '/doodles/outdoors/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Outdoors</a><!--
        --><a href="/doodles/people" class="py-3 px-4 {% if '/doodles/people/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">People</a><!--
        --><a href="/doodles/textures" class="py-3 px-4 {% if '/doodles/textures/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Textures</a><!--
        --><a href="/doodles/stills" class="py-3 px-4 {% if '/doodles/stills/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Stills</a><!--
        --><a href="/doodles/wacky" class="py-3 px-4 {% if '/doodles/wacky/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Wacky</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <script type="text/javascript">
    (function() {
      const btn = document.querySelector("button.mobile-doodles-menu-button");
      const menu = document.querySelector(".mobile-doodles-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    })()
  </script>

  <div class="main_content">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </div>

</div>