---
layout: 'layouts/base.html'
---

<div class="max-w-4xl mx-auto text-center px-8 mt-8">

  <div class="min-w-fit mx-auto">
    <div class="flex justify-center">
      <div class="flex text-sm font-extralight"><!--
        --><a href="outdoors" class="py-3 px-4 {% if page.url == '/doodles/outdoors/' %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Outdoors</a><!--
        --><a href="faces" class="py-3 px-4 {% if page.url == '/doodles/faces/' %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Faces</a><!--
        --><a href="animals" class="py-3 px-4 {% if page.url == '/doodles/animals/' %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Animals</a><!--
        --><a href="wacky" class="py-3 px-4 {% if page.url == '/doodles/wacky/' %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Wacky</a><!--
        --><a href="flowers" class="py-3 px-4 {% if page.url == '/doodles/flowers/' %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Flowers</a><!--
        --><a href="people" class="py-3 px-4 {% if page.url == '/doodles/people/' %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">People</a><!--
        --><a href="abstracts" class="py-3 px-4 {% if page.url == '/doodles/abstracts/' %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Abstract</a><!--
        --><a href="textures" class="py-3 px-4 {% if page.url == '/doodles/textures/' %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Textures</a><!--
        --><a href="stills" class="py-3 px-4 {% if page.url == '/doodles/stills/' %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Stills</a>
      </div>
    </div>
  </div>

  <div class="main_content">
    {% block content %}
    {{ content | safe }}
    {% endblock %}
  </div>

</div>