---
layout: layouts/base.html
---

{% import "snippets/svg.html" as macros %}

<div class="flex flex-col h-screen">

  <div class="flex justify-between items-center p-2 cursor-pointer
              {{item.color.closeX.hover | default('hover:bg-stone-200')}}"
       onclick="goBack()">
    {{ macros.svgPath("", 48, 48, 0, "") }} <!-- Empty space, same size as "X" -->

    {% if item.title %}
      <div class="mx-auto text-xl font-medium flex items-center">
        {{ item.title }}
        <span class="text-base mx-2 w-[35px]">{{curItemIndex}}/{{maxItemIndex}}</span>
      </div>
    {% else %}
      <div class="mx-auto text-3xl font-light align-middle flex items-center">
        {{ item.name }}
        <span class="text-base mx-2 w-[35px]">{{curItemIndex}}/{{maxItemIndex}}</span>
      </div>
    {% endif %}

    {{ macros.svgPath("text-stone-400", 48, 48, 4, "M6 6L42 42M6 42L42 6") }} <!-- "X" -->
  </div>

  <div class="flex justify-center text-lg font-extralight">
    {{ item.imageTitle }}
  </div>

  <!-- 150px is the combined height of elements above and below the image -->
  <div class="swipeable flex items-start h-[calc(100svh-150px)] px-2">
    <div class="mx-auto">
      {% set imagePath = item.imagePath %}
      {% set imageAlt = item.imageAlt %}
      {% set imageClass = 'max-h-[calc(100svh-150px)] min-h-32 w-full object-contain' %}
      {% image imagePath, imageAlt, imageClass, { maxWidth: 2560, linkable: true } %}
    </div>
  </div>

  <div class="flex mx-auto gap-2 py-2">
    <a href="{{item.prevPrevHref}}">
      <button class="border border-stone-400 bg-stone-100 hover:bg-stone-200 text-stone-800 py-2 px-3"
              aria-label="Next painting or doodle category">
        <<<
      </button>
    </a>
    <a href="{{item.prevHref}}">
      <button class="border border-stone-400 bg-stone-100 hover:bg-stone-200 text-stone-800 py-2 px-3"
              aria-label="Previous image">
        Prev
      </button>
    </a>
    <a href="{{item.nextHref}}">
      <button class="border border-stone-400 bg-stone-100 hover:bg-stone-200 text-stone-800 py-2 px-3"
              aria-label="Next image">
        Next
      </button>
    </a>
    <a href="{{item.nextNextHref}}">
      <button class="border border-stone-400 bg-stone-100 hover:bg-stone-200 text-stone-800 py-2 px-3"
              aria-label="Next painting or doodle category">
        >>>
      </button>
    </a>
  </div>

</div>


<div x-data @keydown.window.prevent.left="gotoPrev()"></div>
<div x-data @keydown.window.prevent.right="gotoNext()"></div>
<div x-data @keydown.window.prevent.escape="goBack()"></div>
<div x-data @keydown.window.prevent.up="goBack()"></div>


<script type="text/javascript">
  function gotoPrev() {
    window.location.href = '{{ '/' | url }}{{ item.prevHrefLocation }}';
  }

  function gotoNext() {
    window.location.href = '{{ '/' | url }}{{ item.nextHrefLocation }}';
  }

  function goBack() {
    // If the user reaches this page from the index page directly, we
    // try to take them back to the same scroll position they were at.
    // Once they navigate around though, all bets are off!
    const indexUrl = '{{'/' | url}}{{topPageName}}/{{item.name | slug}}/';

    if (document.referrer.endsWith(indexUrl)) {
      //const scrollPosition = sessionStorage.getItem('scrollPosition');
      //window.scrollTo(0, scrollPosition || 0);
      window.history.back();
    } else {
      window.location.href = indexUrl;
    }
  }
</script>
