---
layout: 'layouts/base.html'
---

{% import "snippets/svg.html" as macros %}

<!-- mobile-first, responsive navigation -->
<nav>
  <div class="lg:hidden">
    <!-- logo and 🍔 menu button -->
    <div class="flex justify-between items-center m-4">
      <a href="/">
        {% set imagePath = '/images/meta/logo/PerrinLogo.png' %}
        {% set imageAlt = 'Perrin logo' %}
        {% set imageClass = 'w-[80px]' %}
        {% image imagePath, imageAlt, imageClass, { widths: [80] } %}
      </a>
      <div class="flex">
        {% set is_top_level_page = page.url.split('/').length < 4 %}
        {% if is_top_level_page %}
          <div class="p-2 text-lg">{{ page.url.split('/')[1] | title }}</div>
        {% else %}
          <div class="p-2 hover:bg-stone-100">
            <a href="/{{page.url.split('/')[1]}}/">
              <div class="text-lg">{{ page.url.split('/')[1] | title }}</div>
            </a>
          </div>
        {% endif %}

        <button class="mobile-menu-button hover:bg-stone-100 p-2 flex gap-2" aria-label="Main menu">
          {{ macros.svgPath("h-6", 24, 24, 2, "M4 6h16M4 12h16M4 18h16") }} <!-- 🍔 -->
        </button>
      </div>
    </div>

    <!-- mobile menu -->
    <div class="mobile-menu hidden text-center">
      <a href="/" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 {% if '/' == page.url %}bg-stone-300{% endif %} border-y border-gray-200">Home</a>
      <a href="/portfolio/" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 {% if '/portfolio/' in page.url %}bg-stone-300{% endif %} border-b border-gray-200">Portfolio</a>
      <a href="/doodles/" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 {% if '/doodles/' in page.url %}bg-stone-300{% endif %} border-b border-gray-200">Doodles</a>
      <a href="/about/" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 {% if '/about/' in page.url %}bg-stone-300{% endif %} border-b border-gray-200">About</a>
      <a href="/resume/" class="block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 {% if '/resume/' in page.url %}bg-stone-300{% endif %} border-b border-gray-200">Resume</a>
      <a href="/nightmare/" class="nightmare block py-3 px-4 text-sm hover:bg-stone-200 bg-stone-100 {% if '/nightmare/' in page.url %}bg-stone-300{% endif %} border-b border-gray-200">Nightmare</a>
    </div>
  </div>

  <div class="hidden lg:block">
    <!-- logo and divider -->
    <div class="min-w-fit mx-auto mt-2">
      <div class="flex justify-center">
        <a href="/">
          {% set imagePath = '/images/meta/logo/PerrinLogo.png' %}
          {% set imageAlt = 'Perrin logo' %}
          {% set imageClass = 'w-[100px]' %}
          {% image imagePath, imageAlt, imageClass, { widths: [100] } %}
        </a>
      </div>
      <div class="max-w-4xl mx-auto border-b border-gray-900 my-2"></div>
    </div>

    <!-- primary menu -->
    <div class="min-w-fit mx-auto">
      <div class="flex justify-center">
        <div class="flex text-sm font-extralight"><!--
          --><a href="/" class="py-1 px-4 {% if '/' == page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Home</a><!--
          --><a href="/portfolio/" class="py-1 px-4 {% if '/portfolio/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Portfolio</a><!--
          --><a href="/doodles/" class="py-1 px-4 {% if '/doodles/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Doodles</a><!--
          --><a href="/about/" class="py-1 px-4 {% if '/about/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">About</a><!--
          --><a href="/resume/" class="py-1 px-4 {% if '/resume/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Resume</a><!--
          --><a href="/nightmare/" class="nightmare py-1 px-4 {% if '/nightmare/' in page.url %}bg-stone-300{% endif %} transition-colors duration-300 hover:bg-stone-200">Nightmare</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  (function() {
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  })()
</script>

<div class="main_content">
  {% block content %}
    {{ content | safe }}
  {% endblock %}
</div>

<footer class="flex justify-center my-12">
  <div class="text-center font-light thin text-sm">
    <div>
      perrin@perrins-art.com
      {#
      perrin.samuels
      <span>@</span>
      gmail.com
      #}
    </div>
    <p>&copy;{{ 2024 | yearSince }} · Perrin</p>
  </div>
</footer>
