---
layout: 'layouts/page.html'
next: ''
prev: ''
---

{% import "snippets/svg.html" as macros %}


{% set menu_items = [
  { name: 'Emma' },
  { name: 'The Demo' },
  { name: 'Dolphin' },
  { name: 'Backyard Hills', short: 'Hills' },
  { name: 'The Onion', short: 'Onion' },
  { name: 'Starry Night', short: 'Starry' },
  { name: 'Beach Boardwalk', short: 'Boardwalk' },
  { name: 'Desert Flower', short: 'Desert' }
] %}


{% macro menu(extraClass) %}
  {% for menu_item in menu_items %}
    {# name #}
    {% set name = menu_item.name %}
    {% if 'short' in menu_item %}
      {% set name = menu_item.short %}
    {% endif %}

    {# href #}
    {% set href = '/portfolio/' + menu_item.name.toLowerCase().replaceAll(' ', '-') + '/' %}

    {# class #}
    {% set class = extraClass + ' ' + (item.color.menu.hover | default('hover:bg-stone-200')) %}
    {% if page.url.startsWith(href) %}
      {% set class = class + ' ' + (item.color.menu.current | default('bg-stone-300')) %}
    {% endif %}

    <a href="{{href}}" class="{{class}}">{{name}}</a>
  {% endfor %}
{% endmacro %}


<div class="text-center px-2">

  <!-- mobile-first, responsive navigation -->
  <nav>
    <div class="lg:hidden mb-4">
      <!-- 🍔 menu button -->
      <div class="flex justify-end items-center">
        <div class="p-2">
          {% if item.name %}
            <span class="mx-2">{{x_in_x_of_y}}/{{y_in_x_of_y}}</span>
            {{ item.name }}
          {% else %}
            <!-- Scroll down or select a project &rarr; -->
          {% endif %}
        </div>
        <button class="mobile-portfolio-menu-button flex p-2 gap-4 hover:bg-stone-100" aria-label="Portfolio menu">
          {{ macros.svgPath("w-6", 24, 24, 2, "M4 6h16M4 12h16M4 18h16") }} <!-- 🍔 -->
        </button>
      </div>

      <!-- mobile menu -->
      <div class="mobile-portfolio-menu hidden flex flex-col text-center border-t border-gray-200">
        {{ menu('py-3 px-4 text-sm border-b border-gray-200') }}
      </div>
    </div>

    <div class="hidden lg:block mb-6 px-8 mt-4">
      <!-- primary menu -->
      <div class="min-w-fit mx-auto">
        <div class="flex justify-center">
          <div class="flex text-sm font-extralight">
            {{ menu('py-3 px-4 transition-colors duration-300') }}
          </div>
        </div>
      </div>
    </div>
  </nav>

  <script type="text/javascript">
    (function() {
      const btn = document.querySelector("button.mobile-portfolio-menu-button");
      const menu = document.querySelector(".mobile-portfolio-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    })()
  </script>

  <div class="main_content">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </div>

</div>
