---
layout: layouts/portfolio.html
pagination:
  data: projects.structured
  size: 1
  alias: item
permalink: "portfolio/{{ item.name | slug }}/"
goto: ['next', 'prev', 'enter', 'escape']
sitemap:
  priority: 0.8
eleventyComputed:
  title: '{{ item.page_title | safe }}'
  prev_link: '{{ item.prev }}'
  next_link: '{{ item.next }}'
  x_in_x_of_y: '{{pagination.pageNumber + 1}}'
  y_in_x_of_y: '{{pagination.pages.length}}'
---

{% import "snippets/svg.html" as macros %}

<!-- 144px/205px is the combined height of elements above the image -->
<!-- 10px is an arbitrary margin -->
<!-- 210px/105px allows room for the Title and first line of Description to be seen -->
<div class="flex items-start my-4
            h-[calc(100svh-142px-10px-210px)]
            lg:h-[calc(100svh-205px-10px-105px)]
            min-h-32">
  <a class="h-full mx-auto" href="/portfolio/{{item.name | slug}}/{{item.images[0] | cleanupHack | rmFileExt | sepWords | slug}}/">
    {% set imagePath = '/images/portfolio/' + item.name | rmSpaces + '/' + item.images[0] %}
    {% set imageAlt = 'Portfolio item ' + (item.name | sepWords) + ' image ' + (item.images[0] | cleanupHack | rmFileExt | sepWords) %}
    {% set imageClass = 'swipeable hover:brightness-90 max-h-full max-w-full object-scale-down' %}
    {% image imagePath, imageAlt, imageClass, { maxWidth: 2560 } %}
  </a>
</div>

<div class="flex flex-col">
  <div class="flex">
    <button class="hide-show-info ml-auto">
      show less
    </button>
    <button class="hide-show-info ml-auto hidden">
      show more
    </button>
    {{ macros.svgPath("hide-show-info", 24, 24, 2, "M18 15l-6-6-6 6") }} <!-- "^" -->
    {{ macros.svgPath("hide-show-info hidden", 24, 24, 2, "M6 9l6 6 6-6") }} <!-- "v" -->
  </div>

  <div id="info-box" class="flex flex-col mt-2 sm:mb-2">
    {% set fields = [
    ['title', 'title'],
    ['description', 'descr'],
    ['category', 'category'],
    ['date', 'date'],
    ['location', 'location'],
    ['medium', 'medium'],
    ['size', 'size']
    ] %}

    {% for field in fields %}
    <div class="my-1 flex flex-row gap-3">
      <p class="w-1/4 md:w-1/3 mb-1 text-right font-medium">
        <span class="inline sm:hidden">{{field[1] | title}}:</span>
        <span class="hidden sm:inline">{{field[0] | title}}:</span>
      </p>
      <p class="w-3/4 md:w-2/3 mb-1 text-left">
        {{item[field[0]]}}
      </p>
    </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  (function() {
    const hideShowBtns = document.getElementsByClassName('hide-show-info');
    const infoBox = document.getElementById('info-box');

    function toggleInfoBox() {
      for (let elem of hideShowBtns) {
        elem.classList.toggle('hidden');
      }
      infoBox.classList.toggle('hidden');
    }

    for (let elem of hideShowBtns) {
      elem.addEventListener('click', toggleInfoBox);
    }
  })()
</script>

<div class="flex">
  <div class="flex flex-col sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 X2xl:grid-cols-6
              gap-8 mt-4 sm:px-4 md:px-6 justify-center">
    {% for name in item.images %}
      {% if not loop.first %}
        <a href="/portfolio/{{item.name | slug}}/{{name | cleanupHack | rmFileExt | sepWords | slug}}/">
          {% set imagePath = '/images/portfolio/' + item.name | rmSpaces + '/' + name %}
          {% set imageAlt = 'Portfolio item ' + (item.name | sepWords) + ' image ' + (name | cleanupHack | rmFileExt | sepWords) %}
          {% set imageClass = 'swipeable hover:brightness-90' %}
          {% image imagePath, imageAlt, imageClass, { maxWidth: 1280, loading: 'lazy' } %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% import "snippets/scroll_to_top.html" as macros %}
{% if item.images.length > 1 %}
  {{ macros.scrollToTop(item.color.menu.hover | default('hover:bg-stone-200')) }}
{% endif %}

<script type="text/javascript">
  function gotoPrev() {
    window.location.href = '{{'/' | url}}portfolio/{{item.prev | slug}}/'
  }

  function gotoNext() {
    window.location.href = '{{'/' | url}}portfolio/{{item.next | slug}}/'
  }

  function gotoEscape() {
    event.preventDefault();
    window.location.href = '{{'/portfolio/' | url}}'
  }

  function gotoEnter() {
    event.preventDefault();
    window.location.href = '{{'/' | url}}portfolio/{{item.name | slug}}/{{item.images[0] | cleanupHack | rmFileExt | sepWords | slug}}/'
  }
</script>
