---
layout: layouts/portfolio.html
pagination:
  data: projects.structured
  size: 1
  alias: project
permalink: "portfolio/{{ project.name | slug }}/"
goto: ['next', 'prev', 'enter', 'escape']
sitemap:
  priority: 0.8
---

{% import "snippets/svg.html" as macros %}

<!-- 144px/205px is the combined height of elements above the image -->
<!-- 10px is an arbitrary margin -->
<!-- 210px/105px allows room for the Title and first line of Description to be seen -->
<div class="flex items-start my-4
            h-[calc(100svh-142px-10px-210px)]
            lg:h-[calc(100svh-205px-10px-105px)]
            min-h-32">
  <a class="h-full mx-auto" href="/portfolio/{{project.name | slug}}/{{project.images[0] | cleanupHack | rmFileExt | sepWords | slug}}/">
    <img class="swipeable hover:brightness-90
                max-h-full max-w-full object-scale-down"
         alt="Portfolio item {{project.name | sepWords}} image {{project.images[0] | cleanupHack | rmFileExt | sepWords}}"
         src="/images/portfolio/{{project.name | replace(' ', '')}}/{{project.images[0]}}" />
  </a>
</div>

<div class="flex flex-col">
  <div class="flex">
    <button class="hide-show-info ml-auto">
      show less
    </button>
    <button class="hide-show-info ml-auto hidden">
      show more
    </button>
    {{ macros.svgPath("hide-show-info", 24, 24, 2, "M18 15l-6-6-6 6") }} <!-- "^" -->
    {{ macros.svgPath("hide-show-info hidden", 24, 24, 2, "M6 9l6 6 6-6") }} <!-- "v" -->
  </div>

  <div id="info-box" class="flex flex-col mt-2 sm:mb-2">
    {% set fields = [
    ['title', 'title'],
    ['description', 'descr'],
    ['category', 'category'],
    ['date', 'date'],
    ['location', 'location'],
    ['medium', 'medium'],
    ['size', 'size']
    ] %}

    {% for field in fields %}
    <div class="my-1 flex flex-row gap-3">
      <p class="w-1/4 md:w-1/3 mb-1 text-right font-medium">
        <span class="inline sm:hidden">{{field[1] | title}}:</span>
        <span class="hidden sm:inline">{{field[0] | title}}:</span>
      </p>
      <p class="w-3/4 md:w-2/3 mb-1 text-left">
        {{project[field[0]]}}
      </p>
    </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  (function() {
    const hideShowBtns = document.getElementsByClassName('hide-show-info');
    const infoBox = document.getElementById('info-box');

    function toggleInfoBox() {
      for (let elem of hideShowBtns) {
        elem.classList.toggle('hidden');
      }
      infoBox.classList.toggle('hidden');
    }

    for (let elem of hideShowBtns) {
      elem.addEventListener('click', toggleInfoBox);
    }
  })()
</script>

<div class="flex">
  <div class="flex flex-col gap-8 mt-4 md:grid md:grid-cols-2">
    {% for name in project.images %}
      {% if not loop.first %}
        <a href="/portfolio/{{project.name | slug}}/{{name | cleanupHack | rmFileExt | sepWords | slug}}/">
          <img class="swipeable hover:brightness-90"
               alt="Portfolio item {{project.name | sepWords}} image {{name | cleanupHack | rmFileExt | sepWords}}"
               src="/images/portfolio/{{project.name.replace(' ', '')}}/{{name}}"/>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% import "snippets/scroll_to_top.html" as macros %}
{% if project.images.length > 1 %}
  {{ macros.scrollToTop("") }}
{% endif %}

<script type="text/javascript">
  function gotoPrev() {
    window.location.href = '{{'/' | url}}portfolio/{{project.prev | slug}}/'
  }

  function gotoNext() {
    window.location.href = '{{'/' | url}}portfolio/{{project.next | slug}}/'
  }

  function gotoEscape() {
    event.preventDefault();
    window.location.href = '{{'/portfolio/' | url}}'
  }

  function gotoEnter() {
    event.preventDefault();
    window.location.href = '{{'/' | url}}portfolio/{{project.name | slug}}/{{project.images[0] | cleanupHack | rmFileExt | sepWords | slug}}/'
  }
</script>
