---
layout: layouts/portfolio.html
pagination:
  data: projects.structured
  size: 1
  alias: project
permalink: "portfolio/{{ project.name | slug }}/"
---

<div id="swipeable">
  <div class="flex justify-center my-4">
    <a href="/portfolio/{{project.name | slug}}/{{project.images[0] | rmFileExt}}/">
      <img class="hover:brightness-90"
           src="/images/portfolio/{{project.name.replace(' ', '')}}/{{project.images[0]}}"/>
    </a>
  </div>

  <div class="flex flex-col">
    <div class="flex">
      <button class="hide-show-info ml-auto">
        less info
      </button>
      <button class="hide-show-info ml-auto hidden">
        more info
      </button>
      <!-- A chevron down/up arrow -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="24" height="24"
           stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <polyline class="hide-show-info" points="18 15 12 9 6 15" />
        <polyline class="hide-show-info hidden" points="6 9 12 15 18 9" />
      </svg>
    </div>

    <div id="info-box" class="flex flex-col mt-2 sm:mb-2">
      {% set fields = [
      ['title', 'title'],
      ['description', 'descr'],
      ['category', 'category'],
      ['date', 'date'],
      ['location', 'location'],
      ['medium', 'medium'],
      ['dimensions', 'size']
      ] %}

      {% for field in fields %}
      <div class="my-1 flex flex-row gap-3">
        <p class="w-1/4 md:w-1/3 mb-1 text-right font-medium">{{field[1] | title}}:</p>
        <p class="w-3/4 md:w-2/3 mb-1 text-left">{{project[field[0]]}}</p>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="flex">
    <div class="flex flex-col gap-8 mt-4 md:grid md:grid-cols-2">
      {% for name in project.images %}
      {% if not loop.first %}
      <a href="/portfolio/{{project.name | slug}}/{{name | rmFileExt}}/">
        <img class="hover:brightness-90"
             src="/images/portfolio/{{project.name.replace(' ', '')}}/{{name}}"/>
      </a>
      {% endif -%}
      {% endfor -%}
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {
    const hideShowBtns = document.getElementsByClassName('hide-show-info');
    const infoBox = document.getElementById('info-box');

    function toggleInfoBox() {
      for (let elem of hideShowBtns) {
        elem.classList.toggle('hidden');
      }
      infoBox.classList.toggle('hidden');
    }

    for (let elem of hideShowBtns) {
      elem.addEventListener('click', toggleInfoBox);
    }
  })()
</script>

<script type="text/javascript">
  function gotoPrev(event) {
    event.preventDefault();
    window.location.href = '{{'/' | url}}portfolio/{{project.prev | slug}}/'
  }

  function gotoNext(event) {
    event.preventDefault();
    window.location.href = '{{'/' | url}}portfolio/{{project.next | slug}}/'
  }

  swipeLeftRight('swipeable', gotoPrev, gotoNext);

  document.addEventListener('keydown', function (event) {
    if (event.key === 'Escape' || event.key === 'ArrowUp') {
      event.preventDefault();
      window.location.href = '{{'/portfolio/' | url}}'
    }

    if (event.key === 'Enter' || event.key === 'ArrowDown') {
      event.preventDefault();
      window.location.href = '{{'/' | url}}portfolio/{{project.name | slug}}/{{project.images[0] | rmFileExt}}/'
    }

    if (event.key === 'ArrowLeft') {
      gotoPrev(event);
    }

    if (event.key === 'ArrowRight') {
      gotoNext(event);
    }
  });

  document.body.classList.add('{{project.bg_color_page}}');
</script>
