---
layout: layouts/page.html
pagination:
  data: projects
  size: 1
  alias: project
permalink: "portfolio/{{ project.name | slugify }}/"
---

<a class="hidden" href="/portfolio/">
  <div class="flex items-center py-2 mb-8 hover:bg-stone-100">
    <svg class="text-stone-400 ml-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 48 48" width="48" height="48" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M24 0L0 24L24 48" />
    </svg>
    <div class="text-lg text-stone-400">
      Back to Portfolio Main
    </div>
  </div>
</a>

<div class="text-3xl font-extralight mt-8 mb-4 text-center">
  {{ project.name }}
</div>

<div class="flex m-4 lg:m-8">
  <a href="/portfolio/{{project.name | slugify}}">
    <img class="border hover:brightness-90"
         src="/images/portfolio/{{project.name | replace(' ', '')}}/{{project.images[0]}}"/>
  </a>
</div>

<div class="flex">
  <div class="flex flex-col gap-8 mt-4 mx-4 md:grid md:grid-cols-2 md:mx-8">
    {% for name in project.images %}
      {% if not loop.first %}
        <a href="/portfolio/{{project.name | slugify}}">
          <img class="border hover:brightness-90"
               src="/images/portfolio/{{project.name | replace(' ', '')}}/{{name}}"/>
        </a>
      {% endif -%}
    {% endfor -%}
  </div>
</div>